/* book-list.component.css */
.books {
    background-color: #282828;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.btn-gray {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
    border-radius: 50%;
    background-color: #282828;
    cursor: pointer;
    width: fit-content;
    border: 2px solid #1DB954;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.arrow-left {
    fill: #FFF;
    transition: fill 0.3s ease;
}

.btn-gray:hover {
    background-color: #1DB954;
    color: white;
}

.btn-gray:hover .arrow-left {
    fill: #282828;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 30px 0px;
}

.book-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    height: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.book-card img {
    height: 220px;
    object-fit: cover;
    border-bottom: 2px solid #1DB954;
}

.book-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 10px;
}

#book-author {
    font-size: 1rem;
    color: #1DB954;
    margin-bottom: 10px;
}

#book-year {
    font-size: 14px;
    color: #FFF;
}

.book-button {
    margin-top: 10px;
    background-color: #1DB954;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
}

.book-button:hover {
    background-color: #169D3E;
}