<div class="home">

    <div class="header">
        <app-navbar></app-navbar>
    </div>

    <div class="main">
        <div class="card books" (click)="showBooks()">
            <img src="./../../../assets/images/books.svg" alt="Livros">
            <button class="btn">Livros</button>
        </div>
        <div class="card friends" (click)="showLists()">
            <img src="./../../../assets/images/friends.svg" alt="Amigos">
            <button class="btn">Listas</button>
        </div>
    </div>

</div>

